\!CheckMinSpec.dll
.DownloadInfo.txt
.DownloadStats.txt
Assets/
LaunchPad-user.ini
LaunchPad.exe
LaunchPad.ico
LaunchPad.ini
LaunchPad.libs/
ScreenShots/
Skins/
Uninstaller.exe
Uninstaller.ini
Uninstaller.soe
UnrealFonts/
UnrealScript/
bin/
coreassets/
logs/
vanguard.ico
